/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-turquoise: #008080;
  --primary-light-gray: #c3c3c3;
  --primary-dark-gray: #818181;
  --primary-white: #fdffff;
  --primary-blue: #0827f5;
  --primary-black: #000000;
  --primary-pink: #ff0081;
}

html,
body {
  overflow: hidden;
}

.scrollable-container {
  scroll-behavior: smooth;
  overflow-y: auto;
}

.W95Border {
  border-left: 2px solid var(--primary-white);
  border-top: 2px solid var(--primary-white);
  box-shadow: 2px 2px 4px 0px var(--primary-black);
}

.timeAndDateBorder {
  border-left: 2px solid var(--primary-dark-gray);
  border-top: 2px solid var(--primary-dark-gray);
  border-right: 2px solid var(--primary-white);
  border-bottom: 2px solid var(--primary-white);
}

.paragraphStyling {
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0.05em;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.portfolio-sectionStyling {
  display: flex;
  flex-direction: column;
  gap: 25px;
  letter-spacing: 0.05em; /* tracking-wider equivalent */
}

.portfolio-headerStyling {
  font-size: 22px; /* text-main-lg equivalent */
  border-bottom: 2px solid var(--primary-light-gray);
  padding-bottom: 10px;
}

.portfolio-hoverStyling {
  transition: color 0.2s;
  cursor: pointer;
}

.portfolio-hoverStyling:hover {
  color: var(--primary-blue);
}

.portfolio-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.portfolio-smallerText {
  font-size: 14px; /* text-main-sm equivalent */
}

.portfolio-liStyling {
  padding-left: 25px;
}

.portfolio-ulStyling {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-olStyling {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.slick-prev,
.slick-next {
  z-index: 1 !important; /* Ensure arrows are above other elements */
}

.slick-prev:before {
  content: "←" !important; /* Unicode for left arrow */
  font-size: 30px !important; /* Ensure the arrow is visible */

  color: var(--primary-white) !important; /* Set a visible color */
}

.slick-next:before {
  content: "→" !important; /* Unicode for left arrow */
  font-size: 30px !important; /* Ensure the arrow is visible */
  color: var(--primary-white) !important; /* Set a visible color */
}

.slick-prev {
  left: 10px !important; /* Adjust positioning if needed */
}

.slick-next {
  right: 20px !important; /* Adjust positioning if needed */
}
